@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"Deez-Fonts";
  src: url("../utils/SCRIPTIN.ttf") format("truetype");
}

html,
body {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#Logo {
  font-family: "Deez-Fonts";
}

#ProjectsPart::-webkit-scrollbar, #EducationPart::-webkit-scrollbar,  #ExperiencePart::-webkit-scrollbar, #SkillsPart::-webkit-scrollbar {
  height: 288px;
}

#loading {
  background-color: rgba(255, 255, 255, 0.898);
}

/* .eye {
  animation: blink forwards infinite 10s ease-in-out;
}

@keyframes blink {
  0%, 2%, 60%, 62%, 100%{
    transform: scale(1);
  } 1%, 61%{
    transform: scaleX(1.3)
    scaleY(0.2);
  }
} */

.loadingAnimation span {
  animation: dotit 1.2s ease-in-out infinite;
}

.loadingAnimation span:nth-child(2) {
  animation-delay: 0.4s;
}

.loadingAnimation span:nth-child(3) {
  animation-delay: 0.7s;
}

@keyframes dotit {
  50% {
    transform: scale(2);
  }
}

.reverse-spinner {
  position: absolute;
  height: 75px;
  width: 75px;
  top: 0px;
  left: 0px;
  right : 15px;
  bottom: 15px;
  margin : auto;
  border: 4px solid transparent;
  border-top-color: #0f172a;
  border-left-color: #0f172a;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.reverse-spinner::before {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  content: "";
  border: 4px solid transparent;
  border-top-color: #F5BE3A;
  border-left-color: #F5BE3A;
  border-radius: 50%;
  -webkit-animation: spinBack 1s linear infinite;
  animation: spinBack 1s linear infinite;
}

@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}


@-webkit-keyframes spinBack {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
  }
  to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
  }
}

@keyframes spinBack {
  from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
  }
  to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
  }
}